<h1>Customize your order</h1>
{{#if error}}
  <span class="error">{{error}}</span>
{{else}}
<div class="catalog">
  <div class="column">
      <img src="{{imageUrl}}">
  </div>
  <div class="column">
    <form method="POST">
      <h2>{{type}}, {{size}}cm</h2>
      <h3>Toppings</h3>
      <div class="toppings">
        <input name="defaultToppings" type="hidden" value="{{toppings}}">
        {{#each toppings}}
          <input name="{{this}}" type="checkbox" value="{{this}}" checked><label for="{{this}}">{{this}}</label><br>
        {{else}}
          <p>There are no toppings with this product.</p>
        {{/each}}
      </div>
      <input type="submit" value="Checkout" class="button" style="border:0"/>
    </form>
  </div>
</div>
{{/if}}